@page
@model StreamWebPage.Pages.ContentCreationYoutubeModel
@{ ViewData["Title"] = "Youtube"; }
<body>
    <div class="container-fluid">

        <div class="jumbotron bg-light">
            <h1>YouTube Channel</h1>
        </div>
        <div>
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-2ea4691c-101b-4a5b-911e-0dc393c7a8fa"></div>
        </div>
    </div>
</body>