@page
@model StreamWebPage.Pages.ContentCreationTwitchModel
@{ ViewData["Title"] = "Twitch"; }
<body>
    <div class="container-fluid">
        <div class="flex-lg-row">

            <div class="jumbotron bg-light">
                <h1 class="text-dark"> Twitch Stream Schedule</h1>
            </div>

            <div class="embed-responsive embed-responsive-21by9">
                <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQJYjXGrPN7t_QhmHhfeWHn7WvROVegNO5OWHYXPdg3w12aKLa1N-btgYu1cSm_GmxAx38NQDJfQmPu/pubhtml?gid=845654153&amp;single=true&amp;widget=true&amp;headers=false">
                </iframe>
            </div>

            <div class="jumbotron bg-light">
                <h1 class="text-dark"> Twitch Stream</h1>
            </div>
            <div class="embed-responsive embed-responsive-21by9">
                <!-- Add a placeholder for the Twitch embed -->
                <div id="twitch-embed"></div>

                <!-- Load the Twitch embed script -->
                <script src="https://embed.twitch.tv/embed/v1.js"></script>

                <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
                <script type="text/javascript">
                    new Twitch.Embed("twitch-embed", {
                        width: 1600,
                        height: 900,
                        allowfullscreen: true,

                        channel: "davasorus",
                        // only needed if your site is also embedded on embed.example.com and othersite.example.com

                    });</script>
            </div>
        </div>

        <div class="flex-md-column">

            <div class="jumbotron bg-light">
                <h1 class="text-dark"> Discord Server</h1>
            </div>

            <iframe src="https://discord.com/widget?id=399244583520960513&theme=dark"
                    width="350" height="500" allowtransparency="true" frameborder="1"
                    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
            </iframe>
        </div>
    </div>
</body>