@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <p>Thanks for coming to my website! I am slowly going to add more features and information as I learn Web Design.</p>
        <p>I appreciate your patience</p>
    </div>
    <div class="align-content-lg-center">

        <iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQJYjXGrPN7t_QhmHhfeWHn7WvROVegNO5OWHYXPdg3w12aKLa1N-btgYu1cSm_GmxAx38NQDJfQmPu/pubhtml?gid=845654153&single=true" width="1600" height="565" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>
</body>