@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <p>Thanks for coming to my website! I am slowly going to add more features and information as I learn Web Design.</p>
        <p>I appreciate your patience</p>
    </div>
</body>