@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <p>Thanks for coming to my website! I am slowly going to add more features and information as I learn Web Design.</p>
        <p>I appreciate your patience</p>
    </div>

    <div class="row">
        <div class="col">
            <h3>Issues?</h3>
            <a class="btn btn-dark" href="https://github.com/davasorus/Davasorus-Azure-Website/issues/new?assignees=&labels=&template=bug_report.md&title=" target="_blank">Submit Issues!</a>
            <h3>Recommendations</h3>
            <a class="btn btn-dark" href="https://github.com/davasorus/Davasorus-Azure-Website/issues/new?assignees=&labels=&template=feature_request.md&title=" target="_blank">Submit Ideas!</a>
        </div>
    </div>
</body>