@page
@model StreamWebPage.Pages.SocialMediaTwitterModel
@{ ViewData["Title"] = "Twitter"; }
<body>
    <div class="flex-md-column">
        <div class="jumbotron bg-light">
            <h1>Twitter Feed</h1>
        </div>
        <a href="https://twitter.com/davasorus?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="true">Follow</a>
        <a class="twitter-timeline" href="https://twitter.com/davasorus?ref_src=twsrc%5Etfw" data-theme="dark">Tweets by davasorus</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</body>