@page
@model StreamWebPage.Pages.SocialMediaInstagramModel
@{ ViewData["Title"] = "Instagram"; }
<body>
    <div class="flex-lg-fill">
        <div class="jumbotron bg-light">
            <h1>Instagram Feed</h1>
        </div>
        <div>
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-23b52e66-bf42-460e-a37b-01adcac8a86e"></div>
        </div>
    </div>
</body>