@page
@model StreamWebPage.Pages.SocialMediaModel
@{ ViewData["Title"] = "Social Media"; }
<body>
    <div class="flex-md-column">
        <div class="jumbotron bg-light">
            <h1>Twitter Feed</h1>
        </div>
        <a href="https://twitter.com/davasorus?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="true">Follow</a>
        <a class="twitter-timeline" href="https://twitter.com/davasorus?ref_src=twsrc%5Etfw" data-theme="dark">Tweets by davasorus</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="flex-lg-fill">
        <div class="jumbotron bg-light">
            <h1>Instagram Feed</h1>
        </div>
        <div>
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-e4af6421-c527-47d9-9ae7-bf6cd34f8c43"></div>
        </div>
    </div>
</body>