@page
@model StreamWebPage.Pages.SupportMeModel
@{ViewData["Title"] = "Support Me";
}
<body>
    <div class="container-fluid justify-content-lg-center">
        <div class="jumbotron bg-light">
            <h1 class="display-4">Financially Support Me</h1>

            <p>Thanks for coming to my website! I immensely appreciate it, below will be links to ways that you can support me financially as I relearn Web Design :D </p>
            <p>The Below buttons will open web pages to external Web Pages. </p>
        </div>

        <div class="row">
            <div class="col">
                <h2> Twitch Sub</h2>
                <h6>If you subscribe while I am streaming to twitch it will show on stream!</h6>
                <a class="btn btn-dark" href="https://www.twitch.tv/subs/davasorus" target="_blank">Sub to Me on Twitch</a>
            </div>

            <div class="col">
                <h2> Donation</h2>
                <h6>If you donate while I am streaming to twitch it will show on stream!</h6>
                <p> Please know that Donation are not refundable and are always appreciated. </p>
                <a class="btn btn-dark" href="https://streamlabs.com/davasorus/tip" target="_blank">Tip</a>
            </div>

            <div class="col">
                <h2> Merch </h2>
                <h6>If you purchase any merch while I am streaming to twitch it will show on stream!</h6>
                <a class="btn btn-dark" href="https://merch.streamelements.com/davasorus" target="_blank">Dino Life</a>
            </div>
        </div>

        <div class="jumbotron bg-light">
            <h1 class="display-4">Support Me (for free)</h1>
            <p>These links will take you to free ways to interact with me and reach out all for free.</p>
            <p>The Below buttons will open web pages to external Web Pages. </p>
        </div>
        <div class="row">
            <div class="col">
                <h2>Twitch Stream</h2>
                <h6></h6>
                <a class="btn btn-dark" href="https://www.twitch.tv/davasorus" target="_blank"><i class="fab fa-twitch"></i> Hangout with me on Twitch! </a>
            </div>

            <div class="col">
                <h2>Youtube Channel</h2>
                <h6></h6>
                <a class="btn btn-dark" href="https://www.youtube.com/channel/UCsLm3_jdM_x84Ju64GCWl2Q" target="_blank"><i class="fab fa-youtube-square"></i> Check out my Youtube Videos </a>
            </div>

            <div class="col">
                <h2>FaceBook</h2>
                <h6></h6>
                <a class="btn btn-dark" href="https://www.facebook.com/davasorus/" target="_blank"><i class="fab fa-facebook-f"></i> Check out my FaceBook </a>
            </div>

            <div class="col">
                <h2>Twitter</h2>
                <h6></h6>
                <a class="btn btn-dark" href="https://twitter.com/davasorus" target="_blank"><i class="fab fa-twitter"></i> Tweet at Me </a>
            </div>

            <div class="col">
                <h2>Instagram</h2>
                <h6></h6>
                <a class="btn btn-dark" href="https://www.instagram.com/davasorus/" target="_blank"><i class="fab fa-instagram"></i> Slide into my DMs </a>
            </div>

            <div class="col">
                <h2>Discord</h2>
                <h6></h6>
                <a class="btn btn-dark" href="https://discord.com/invite/WGkmNM3" target="_blank"><i class="fab fa-discord"></i> Join the discord </a>
            </div>
        </div>
    </div>
</body>